



.i{
  width: 1180px;
  padding: 0px;
  margin: 0 auto;
}

body{
  min-width: 1440px;
  background-color: #FFF;
  overflow-x: hidden;
  font-family: "PT Sans";
}

.clearfix {
    &:before, &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
      *zoom: 1;
}

/*хедер*/
.header{
  background: linear-gradient(#3f5d7e, #2d435b);
  height: 75px;


  &__i{
    &:extend(.clearfix all);
    .i
  }

  .logo{
    font-weight: 400;
    font-family: "PT Serif";
    font-size: 22px;
    line-height: 22px;
    float: left;
    width: 135px;
    color: #fff;
     p{
      text-align: center;
    }

  }

  .search{
  margin-top: 18px;
  margin-left: 130px;
  float: left;
  width:610px;
  height: 40px;

    input[type="search"]{
      width: 550px;
      border: solid, 2px, #2c4058;
      min-height: 35px;
      padding: 0px;
      border-radius: 3px;
    }
    input[type="submit"]{
      padding: 0px;
      width: 50px;
      height: 42px;
    }
  }
  .login{
  font-size: 14px;
  margin-top: 10px;
  float: right;
  width: 245px;

    ul{
      padding: 0px;
    }
    li{
      vertical-align: middle;
      display: inline-block;
      list-style: none;
      margin-right: 20px;
  }
    a{
      text-decoration: none;
      color: #fff;
    }
.ic-user i{
  	content: "\e204";
  color: #fff;
  font-size: 10px;
}


          }
}

/*меню*/
.menu{
  height: 45px;
  background: linear-gradient(#f8f7f7, #a6a6a6);

  padding-top:10px;
  &__i{
  .i

}
&__list{

  margin: 0px;
  list-style:none;

}
 ul{
   font-size: 0px;

   border: solid, 5px, #000;
   padding: 0px;
   margin: 0px;
}
 li{
display: inline-block;
padding: 0px;
margin-right:20px;
}
  li:nth-child(4n){
margin-right:330px;

  }
  a{
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
    text-shadow: 1px 1px 2px #fff;
    color: #000;

  }
    }


/*Доп. навигация*/
.breadcrumbs{
  padding-left: 90px;

li{
  display: inline-block;
}
a{
  color: #dedede;
  font-size: 12px;
}
}


.catalog{

  &__i{
    &:extend(.clearfix all);
    .i;
  }

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.sidebar{
  padding: 0px;
  border: solid, #aaaaaa, 2px;
  background-color: #f5f5f5;
  float:left;
  width: 230px;

  h3{
    margin-left: 40px;
    font-weight: bold;
    font-size: 14px;
  }
a{
  color: #000;
  font-size: 14px;
}

&__title{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #fff;
  background: linear-gradient(#3f5d7e, #2d435b);
  p{
    margin: 0px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding: 10px;
  }
}
}
&__content{
  float: right;
  width: 920px;
}
&__btn {
  font-weight: 400;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  border-radius: 3px;
  background: linear-gradient(#ffd05b, #ffa25e);
  border: 1px solid #e19855;
     a{
        padding: 10px;
        display: block;
      }
        }

&__h2{
  font-size: 14px;
}
&__item{

  display: inline-block;
  width: 220px;
  height: 385px;
  vertical-align: top;
a{
  align-content: center;
}
  img{
    margin-bottom: 20px;
  }

  &__item:nth-child(2n){
      margin: 0px;
  }

  .icon-cart::before{
    content:"\e221";
    font-family: 'ThemeIcons';
    color: #000;

  }
}
&__paginator{
font-size: 10px;
width: 300px;
ul{
padding: 0px;
margin-bottom: 10px;
}
li{
  display: inline-block;


}
a{
  padding: 8px 12px;
  display:block;
  text-decoration:none;
  background:#f1f1f1;
  color:#000;
}

a:hover{
  background:#e5e5e5;
}
a:active{
  background:#e5e5e5;
}
}
&__filter{
ul{
  padding: 0px;
  }
  li{
    color:#000;
    display: inline-block;
  }
}
}
