@import "../fonts/fonts.less";
@import "normalize.less";

.i{
  width: 1180px;
  padding: 0px;
  margin: 0 auto;
}
.clearfix {
 &:before, &:after {
  content: " ";
  display: table;
}
 &:after {
  clear: both;
}
  *zoom: 1;
}

body{
  min-width: 1440px;
  background-color: #FFF;
  overflow-x: hidden;
  font-family: "PT Sans";
}

.header{
  background: linear-gradient(#3f5d7e, #2d435b);
  height: 75px;
  &__i{
  &:extend(.clearfix all);
  .i
}
}

.login{
  font-size: 14px;
  margin-top: 10px;
  float: right;
  width: 245px;

&__list{
  padding: 0;
  margin-top: 10;
}
&__item{
  vertical-align: middle;
  display: inline-block;
  list-style: none;
  margin-right: 10px;
}

&__item::before{
font-family: 'ThemeIcons';
}
&__link{
  text-decoration: none;
  color: #fff;
}
}

.search{
  margin-top: 15px;
  margin-left: 130px;
  float: left;
  width:600px;
  height: 40px;

input[type="search"]{
  width: 540px;
  border: solid, 2px, #2c4058;
  min-height: 35px;
  padding: 0px;
  border-radius: 3px;
  margin: 0;
}
input[type="submit"]{

  border: none;
  margin: 0;
  padding: 0px;
  width: 50px;
  height: 38px;
  text-decoration: none;
  color: #000;
  border-radius: 3px;
  background: linear-gradient(#ffd05b, #ffa25e);
  border: 1px solid #e19855;
}
input[type="submit"]::before{
  content: "\e235";
}
}

.logo{
  margin-top: 10px;
  font-weight: 400;
  font-family: "PT Serif";
  font-size: 48px;
  line-height: 48px;
  float: left;
  width: 135px;
  color: #fff;
  text-align: center;
}

.menu{
  padding: 0;
  margin: 0;
  height: 45px;
  background: linear-gradient(#f8f7f7, #a6a6a6);
  padding-top:10px;
&__i{
  .i{
  padding:0;
  margin: 0;
  }
 }
&__list{
  margin: 0;
  padding: 0;
  list-style:none;
  font-size: 0;



 }
&__item{
  display: inline-block;
  padding: 0px;
  margin-right:10px;

 }
li:nth-child(4n){
  margin-right:300px;
 }
&__link{
  text-transform:uppercase;
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  margin-right: 30px;
  text-shadow: 1px 1px 2px #fff;
  color: #000;
 }
}

.breadcrumbs{
  padding-left: 90px;
&__item{
  display: inline-block;
}
&__link{
  color: #dedede;
  font-size: 12px;
}
}


.conteiner{
&__i{
 &:extend(.clearfix all);
 .i;
}
}

.sidebar{
  padding: 0px;
  border: solid, #aaaaaa, 2px;
  background-color: #f5f5f5;
  float:left;
  width: 230px;

  h3{
    margin-left: 40px;
    font-weight: bold;
    font-size: 14px;
  }
&__list{
  list-style: none;
}
&__link{
  color: #000;
  font-size: 14px;
  text-decoration: none;
}
&__link::before{
  font-family: 'ThemeIcons';
  content: "\e263";
}
&__title{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #fff;
  background: linear-gradient(#3f5d7e, #2d435b);
  p{
    margin: 0px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding: 10px;
  }
}
}


.catalog{
  float: right;
  width: 920px;
  &__title{
    font-size: 14px;
  }
}

.filter{
&__list{
  padding: 0;
  margin: 0;
  }
&__item{
    color:#000;
    display: inline-block;
    margin-right: 10px;
  }
li:nth-child(3n){
    margin-right:200px;
   }
}


.product__item{
  display: inline-block;
  width: 220px;
  height: 385px;
  vertical-align: top;
  border: 1px solid #d1d5d9;
p{
  color: #f48b4b;
}
a{
  align-content: center;
  text-decoration: none;
  color: #000;
}
img{
  margin-bottom: 20px;
  }
.icon-cart::before{
    content:"\e221";
    font-family: 'ThemeIcons';
    color: #000;

  }
}


.product__btn{
  font-weight: 400;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  border-radius: 3px;
  background: linear-gradient(#ffd05b, #ffa25e);
  border: 1px solid #e19855;
     a{
        padding: 10px;
        display: block;
      }
        }

.paginator{
font-size: 10px;
width: 300px;
ul{
padding: 0px;
margin-bottom: 10px;
}
li{
  display: inline-block;


}
a{
  padding: 8px 12px;
  display:block;
  text-decoration:none;
  background:#f1f1f1;
  color:#000;
}

a:hover{
  background:#e5e5e5;
}
a:active{
  background:#e5e5e5;
}
}

.footer{
  padding: 22px 132px ;
  margin-top: 80px;
  height: 95px;
  background: linear-gradient(#d1d5d9, #fefefe);
  &__i{
    .i
  }
}

.footer-menu{
   float: left;
  &__list{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item{
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;

  }
&__link{
  color: #0059bf;
}
a:nth-child(6n){
  color: #ef9b69;
}
}

.footer-search{
  float: right;
  input[type="search"]{
    width: 220px;
    border: solid, 2px, #2c4058;
    min-height: 35px;
    padding: 0px;
    border-radius: 3px;
    margin: 0;
  }
  input[type="submit"]{

    border: none;
    margin: 0;
    padding: 0px;
    width: 80px;
    height: 38px;
    text-decoration: none;
    color: #000;
}
}
